﻿
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@if (ViewBag.DisplayMenu="Yes")
{
    <h1>Welcome Admin, You Can Create User Roles.</h1>
    <h3>
        <li>@Html.ActionLink("Manage Role","Index","Role")</li>
    </h3>
}
else
{
    <h2>Welcome<strong>@ViewBag.Name</strong> :) .We will Add user module soon </h2>
}
