﻿@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>HIH IT Asset Management System</h1>
    <p class="lead">This application is created to digitize the process of Electronic assets allotment to our staff </p>
    
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Simple Portal </h2>
        <p>
            Welcome to the asset managment system using this E-portal Our HIH infra team can add new assets to the system allot asset to an employee and even track an asset where it is located.
        </p>
        
    </div>
    <div class="col-md-4">
        <h2>Get more</h2>
        <p>Our IT devices and Serivices are spread across our country and growing constantly hence Tracking and Maintaining them getting Complex Its time to move beyond Excel sheets and embrace pure digitization. </p>
        
    </div>
    <div class="col-md-4">
        <h2>Suggestion please</h2>
        <p>Feel free to contact us anytime regarding your suggestions and Ideas to Improve the System.</p>
        
    </div>
</div>